
@font-face {font-family: "iconfont-1";
  src: url('//asset.ibanquan.com/middle/33689/c/444/591e55f60689871fa5004d98/iconfont-1.eot?v=1501061689_1495160310'); /* IE9*/
  src: url('//asset.ibanquan.com/middle/33689/c/444/591e55f60689871fa5004d98/iconfont-1.eot?v=1501061689_1495160310#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//asset.ibanquan.com/middle/33689/c/444/591e55f70689871fa5004da1/iconfont-1.woff?v=1501061689_1495160311') format('woff'), /* chrome, firefox */
  url('//asset.ibanquan.com/middle/33689/c/444/591e55f60689871fa5004d9e/iconfont-1.ttf?v=1501061689_1495160311') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//asset.ibanquan.com/middle/33689/c/444/591e55f60689871fa5004d9b/iconfont-1.svg?v=1501061689_1495160310#iconfont-1') format('svg'); /* iOS 4.1- */
}

.iconfont-1 {
  font-family:"iconfont-1" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before { content: "\e6cc"; }

.icon-caidan01:before { content: "\e606"; }

.icon-biaoqian:before { content: "\e61c"; }

